
.exp p {
    margin: 0.5em 0;
  }
  
  .model-fig {
    display: block;
    margin: auto;
    width: 60%;
  }
  
  .model-subfig {
    float: left;
    width: 50%;
    padding: 5px;
    text-align: center;
  }
  
  .model-fig::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .image video {
    display: block;
    max-width: 100%;
  }
  
  .image.centered video {
    margin: 0 auto;
  }
  
  .box.post.project p {
      padding: 0;
  }